@model PatitasV01.Models.tbl_mascota

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_principal.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mas_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mas_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mas_fecha_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mas_fecha_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mas_raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mas_raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mas_sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mas_sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_tiposMascota.tim_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_tiposMascota.tim_nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
